@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");

:root {
  --main-color: #e64949;
  --black: #151520;
  --bg: #0d0d11;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 7%;
}

span {
  color: var(--main-color);
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  border-radius: 0.3rem;
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

.header {
  background: var(--bg);
  box-shadow: 5px 20px 20px var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  z-index: 1000;
}

.header .logo {
  font-weight: bolder;
  font-size: 2.5rem;
  color: #fff;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  border-radius: 0.5rem;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
  border-radius: 0.5rem;
}

.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
}

.header .search-form label:hover {
  color: var(--main-color);
}

.header .login-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: var(--black);
  border-radius: 0.5rem;
  box-shadow: var(--bg);
  width: 35rem;
  padding: 2rem;
  transform: scale(0);
  transform-origin: top right;
}

.header .login-form.active {
  transform: scale(1);
}

.header .login-form .inputBox {
  margin-bottom: 1rem;
}

.header .login-form .inputBox span {
  font-size: 1.7rem;
  color: #fff;
}

.header .login-form .inputBox input {
  font-size: 1.5rem;
  color: var(--bg);
  border-radius: 0.5rem;
  padding: 1rem;
  background: #eee;
  width: 100%;
  text-transform: none;
  margin: 0.5rem 0;
}

.header .login-form .remember {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.header .login-form .remember label {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.header .login-form .btn {
  width: 100%;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(/images/home-img.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset -1px -25px 20px var(--bg);
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}

.home .content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

.form-container form {
  border: var(--border);
  background: var(--black);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.form-container form .inputBox {
  flex: 1 1 23rem;
}

.form-container form .inputBox span {
  font-size: 1.7rem;
  color: #fff;
}

.form-container form .inputBox input {
  font-size: 1.5rem;
  color: var(--bg);
  background: #eee;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  text-transform: none;
  width: 100%;
  padding: 1rem;
}

.form-container form .btn {
  flex: 1 1 23rem;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  border: var(--border);
  text-align: center;
}

.services .box-container .box .image {
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  position: relative;
  background-color: var(--black);
}

.services .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.services .box-container .box .image h3 {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  font-size: 2rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  font-weight: lighter;
  padding: 0.5rem 1.5rem;
}

.services .box-container .box .image h3 i {
  color: var(--main-color);
}

.services .box-container .box .content {
  padding: 1.5rem;
  padding-top: 0;
  background-color: var(--black);
}

.services .box-container .box .content .price {
  font-weight: 600;
  color: #fff;
  font-size: 2.5rem;
}

.services .box-container .box .content p {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: #fff;
  line-height: 1.7;
}

.deals .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.deals .box-container .box {
  border: var(--border);
  background: var(--black);
  position: relative;
  padding: 2rem;
}

.deals .box-container .box .price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--main-color);
  font-weight: bolder;
  font-size: 5rem;
}

.deals .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  background: var(--bg);
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.deals .box-container .box h3 {
  color: #fff;
  font-size: 2.3rem;
  padding: 0.7rem 0;
}

.deals .box-container .box p {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.8;
}

.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box {
  border: var(--border);
  background: var(--black);
  text-align: center;
  padding: 3rem 2rem;
}

.review .box-container .box p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #eee;
  padding: 2rem 0;
}

.review .box-container .box .user {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: #fff;
}

.review .box-container .box .stars i {
  font-size: 1.5rem;
  color: var(--main-color);
}

.contact .row {
  display: flex;
  background: var(--black);
  flex-wrap: wrap;
  gap: 1rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--bg);
  border: var(--border);
}

.contact .row form .inputBox span {
  color: #fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
}

.footer {
  background: var(--black);
  text-align: center;
}

.footer .footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;
}

.footer .footer-links a {
  padding: 0.7rem 2rem;
  color: #fff;
  border: var(--border);
  border-radius: 0.3rem;
  font-size: 2rem;
}

.footer .footer-links a:hover {
  background: var(--main-color);
}

.footer .footer-share {
  padding: 1rem 0;
}

.footer .footer-share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: 0.3rem;
  border-radius: 50%;
}

.footer .footer-share a:hover {
  background-color: var(--main-color);
}

/* Media Queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--black);
    width: 20rem;
    height: 100vh;
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
